@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #FF5400;
}

body {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/* navber section  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
}

.title img {
    margin: 1rem 1rem 1rem 0;
    width: 20%;
    height: 5rem;
}

.title h1 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    padding-top: 0.5rem;
}

.title span {
    color: var(--primary-color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    text-align: center;
    margin-left: 2rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.menu li:hover {
    color: var(--primary-color);
}

/* hero section  */

.hero-section-container {
    position: relative;
}

.hero-section-container-text {
    position: absolute;
    top: 15%;
    left: 15%;
}

.hero-section-container-text h1 {
    color: #FFF;
    font-size: 4em;
    font-style: normal;
    font-weight: 800;
}

.hero-section-container-text p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 3em;
}

.hero-section-container img {
    filter: brightness(70%);
}

.hero-section-container-input {
    padding: 1em;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.hero-section-container-input input {
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 0.5em;
    width: 10em;
    margin-right: 0.5rem;
}

.hero-section-container-input select {
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding: 0.5em;
    width: 10em;
    margin-right: 0.5em;
}

.hero-section-container-input button {
    background-color: var(--primary-color);
    border-radius: 8px;
    color: #FFF;
    border: none;
    padding: 0.5em;
    width: 10em;
    cursor: pointer;
}

/* popular tour section  */

.popular-tour-section {
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.popular-tour-section-container {
    display: flex;
}

.popular-tour-section-container-text {
    text-align: left;
    padding-right: 5em;
}

.popular-tour-section-container-text h1 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
}

.popular-tour-section-container-text p li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.popular-tour-section-container-text li {
    padding: 0.5rem;
}

.popular-tour-section-container-text button {
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* destination section  */

.destination-section-container-text {
    margin-bottom: 3rem;
}

.destination-section-container-text h1 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
}

.destination-section-container-text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.destination-section-container-images img {
    margin: 0.5rem;
}

/* choose us section  */

.choose-us-section {
    margin-top: 5rem;
}

.choose-us-section-container-text {
    margin-bottom: 4rem;
}

.choose-us-section-container-text h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.choose-us-section-container-text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.choose-us-section-container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.choose-us-section-container-card-1 {
    text-align: left;
    padding: 2rem;
    background-color: rgba(251, 181, 99, 0.05);
    width: 43%;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    margin-right: 2rem;
}

.choose-us-section-container-card-2 {
    text-align: left;
    padding: 2rem;
    background-color: rgba(41, 206, 246, 0.05);
    width: 43%;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);

}

.choose-us-section-container-card-3 {
    text-align: left;
    padding: 2rem;
    background-color: rgba(233, 68, 68, 0.05);
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    width: 43%;
    margin-top: 2rem;
}

/* newsletter section  */

.newsletter-section {
    margin-top: 5rem;
}

.newsletter-section-container {
    display: flex;
    justify-content: space-between;
}

.newsletter-section-container-form {
    width: 30%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 3rem;
    text-align: left;
}

.newsletter-section-container-form h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
}

.newsletter-section-container-form p {
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.newsletter-section-container-form input {
    display: block;
    padding: 1em;
    width: 87%;
    margin: 2em 1em;
    border: none;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
}

.newsletter-section-container-form button {
    background-color: var(--primary-color);
    color: #FFF;
    width: 93%;
    padding: 0.5em;
    margin-left: 1em;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}

.newsletter-section-container-image {
    width: 55%;
}

.newsletter-section-container-image img {
    width: 100%;
}

/* footer section  */

.footer-section {
    background-color: rgba(19, 19, 24, 0.05);
}

.footer-section-container {
    margin-top: 5rem;
    padding: 5em 0;
}

.footer-section-container-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section-container-title span {
    color: var(--primary-color);
}

.footer-section-container img {
    width: 2%;
    margin-right: 1em;
}

.footer-section-container hr {
    text-align: center;
    width: 60%;
    margin-top: 3em;
    margin-bottom: 2em;
}